{
    "GoLambdaFunction": {
        "env": "local",
        "token_github_param_name": "/no-commit-notify/token_github",
        "user_github": "yuta-2001",
        "token_line_notify_param_name": "/no-commit-notify/token_line_notify",
        "local_ssm_endpoint": "http://host.docker.internal:4566"
    }
}
