{
    "GoLambdaFunction": {
        "env": "local",
        "github_token_param_name": "/no-commit-notify/github_token",
        "github_user": "yuta-2001",
        "line_notify_token_param_name": "/no-commit-notify/line_notify_token",
        "local_ssm_endpoint": "http://host.docker.internal:4566"
    }
}
