{
    "GoLambdaFunction": {
        "ENV": "local",
        "REGION": "ap-northeast-1",
        "GITHUB_TOKEN": "*******",
        "GITHUB_USER": "*******",
        "LINE_NOTIFY_TOKEN": "*******"
    }
}
